<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title><%= tagName %></title>

    <style>
      body {
        position: relative;
        min-height: 100vh;
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <<%= tagName %>></<%= tagName %>>

    <script src="webcomponents-loader.js"></script>
    <script type="module" src="<%= tagName %>.es6.js"></script>
    <script nomodule src="<%= tagName %>.es5.js"></script>
  </body>
</html>
